@using LibraryManagement.ViewModels
@model HomeViewModels


@foreach (BookLatestViewModel  bl in Model.BookLatest)
{
    <img src="@bl.ImageURL" width="263px" height="400px" />
    <h2>@bl.Title</h2>
    <h2>@bl.Author</h2>
}
@foreach (BookBorrowedViewModel bb in Model.BookBorrowed)
{
    <img src="@bb.ImageURL" width="263px" height="400px" />
    <h3>@bb.Title</h3>
    <h3>@bb.Author</h3>
    <h3>@bb.Publisher</h3>
}

<img src="@Model.BookDay.ImageURL" width="263px" height="400px" />
<h4>@Model.BookDay.Title</h4>
<h4>@Model.BookDay.Author</h4>
<h4>@Model.BookDay.Publisher</h4>
<h4>@Model.BookDay.Description</h4>

<form asp-controller="Search" method="get">
    <input type="text" name="SearchString" value="@ViewBag.currentFilter" />
    <input type="submit" value="Search"/>
</form>

<a asp-controller="Account" asp-action="Register">Register</a>
<a asp-controller="Account" asp-action="Login">Login</a>
<a asp-controller="Account" asp-action="ChangePassword">Change password</a>
<a asp-controller="Account" asp-action="LogOut">Log out</a>
<a asp-controller="Account" asp-action="ForgotPassword">Forgot password ?</a>
<a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Admin</a>